main .container{

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    
}

.brands-list img{

    height: 24px;

}

.brands-list li{

    display: inline;

}

main {

    padding: 24px 0;
    color: #182C61;


}

main h2{

    margin-bottom: 16px;
    font-family: 'Bungee', cursive;
    font-weight: normal;

}

main p{

    margin-bottom: 8px;

}

.store-front{

    margin-right: 32px;

}








